.join {
  background-color: var(--color-bg);
  &__section {
    padding-block: 140px;
    @include mobile {
      padding-block: 80px;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  &__title {
    text-align: center;
    max-width: 830px;
    margin-inline: auto;
    font-size: var(--font-size-title);
    font-weight: 900;
    line-height: 112%;
    span {
      opacity: 0.2;
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    background-color: var(--color-dark);
    color: var(--color-cart);
    height: 58px;
    padding-inline: 52px;
    border-radius: 40px;
    font-weight: 600;
    line-height: 140%;
    @include hover {
      color: var(--color-dark);
      background-color: var(--color-white);
    }
  }
}
