.services {
  padding: 240px 0 240px;
  max-width: 1220px;
  margin: 0 auto;
  border-bottom: 2px solid #dcddeb;
  @include tablet {
    padding: 100px 0 100px;
  }
  &__title {
    font-size: var(--font-size-h3);
    color: var(--color-blue);
    line-height: var(--line-height-sub);
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    max-width: 608px;
    margin-bottom: 13px;
  }
  &__desc {
    text-align: center;
    max-width: 702px;
    margin: 0 auto;
    font-size: var(--font-size-subtitle);
    color: var(--color-gray);
    margin-bottom: 32px;
  }
  &__work {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
    @include tablet {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__work-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }

  &__work-info {
    span {
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      color: var(--color-gray);
    }
    p {
      font-size: clamp(1.125rem, 0.981rem + 0.64vw, 1.75rem);
      font-weight: 700;
      color: var(--color-blue);
      line-height: 36px;
    }
  }
  &__work-video {
    background-image: url(/images/f-12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.7;
    min-height: 570px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--btn {
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
    @include tablet {
      margin: 0 auto;
      border-radius: 30px;
      max-width: 650px;
      min-height: 450px;
    }
    @include mobile {
      margin: 0 auto;
      border-radius: 30px;
      max-width: 350px;
      min-height: 250px;
    }
  }
}
