html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  background-image: url("./../../img/hero/IMAGE-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Open Sans";
}
a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}
