.header__account {
  .account {
    display: flex;
    align-items: center;
    column-gap: 24px;
    @include tablet {
      column-gap: 12px;
    }
  }
}
.account__burger {
  display: none;
  @include mobile {
    display: block;
  }
}
.account__person {
  @include mobile {
    display: none;
  }
}
