.footer {
  margin-top: auto;
  &__section {
    padding: 60px 0 40px;
    @include tablet {
      padding: 40px 0 40px;
    }
  }
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
      row-gap: 24px;
    }
  }
  &__list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    @include tablet {
      column-gap: 20px;
      flex-direction: column;
      row-gap: 20px;
    }
  }
  &__link {
    font-size: var(--font-size-nav);
    color: var(--color-dark);
    font-weight: 500;
    @include hover {
      color: var(--color-green);
    }
  }
}
.logo {
  font-size: 1.5rem;
  color: var(--color-dark);
  font-weight: 600;
  letter-spacing: -1px;
  margin-right: 10px;
}
