html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  transition-duration: var(--transition-duration);
  font-family: var(--font-family-main);
  background-color: var(--color-bg);
}
a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}
